# JAVA Class Files
*.class

# Log Files
*.log

#BlueJ Files
*.ctxt

# Mobile Tools for Java(J2ME)
.mtj.tmp/

# Pakage Files 
*.jar
*.war
*.ear

#Eclipse & IntelliJ
.classpath
.settings/
.idea/
*.iml

# VS Code
.vscode/

#build output
/bin/
/build/

/out/

#OS-specific
.DS_Store
Thumbs.db
